<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="comun/metadatos.html :: metadatos">
<meta charset="UTF-8">
<title>Usuarios Estático</title>
<link rel="Stylesheet" href="../../../css/bootstrap/bootstrap.css" />
<link rel="Stylesheet" href="../../../css/login.css" />
</head>

<body>

	<nav data-th-replace="comun/cuerpo/navegacion.html :: navegacion"
		class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top"
		id="navegacion">
		<a class="navbar-brand" href="#">Uperc</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="#">Usuarios</a></li>
				<li class="nav-item"><a class="nav-link"
					href="../tableroPrincipal.html">Tablero principal <span
						class="sr-only">(current)</span></a></li>
				<li class="nav-item"><a class="nav-link"
					href="supervision.html">Supervisión</a></li>
				<li class="nav-item"><a class="nav-link" href="reservas.html">Reservas</a></li>
				<li class="nav-item"><a class="nav-link" href="informes.html">Informes</a></li>
				<li class="nav-item dropdown active"><a
					class="nav-link dropdown-toggle" href="configuracion.html"
					id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> Configuración </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="integracion.html">Sistemas
							externos</a> <a class="dropdown-item active" href="recursos.html">Recursos</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="configuracion/roles.html">Roles</a>
						<a class="dropdown-item" href="configuracion/perfiles.html">Perfiles
							de usuario</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="configuracion/espacios.html">Espacios
							de parqueo</a>
					</div></li>
			</ul>
		</div>
	</nav>



	<div class="container-fluid"></div>
	<div class="row">
		<p>
			<p>
		
		<p>
	
	</div>


		<!-- Button trigger modal -->
			<!-- 				TODO: crear insercion para recursos -->
	<button type="button" class="btn btn-primary" data-toggle="modal"
				data-target="#agregarUsuario">Nuevo recurso</button>


	
		<div class="table-responsive">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>marca</th>
					<th>tipo</th>
					<th>ip</th>
					<th>puerto</th>
					<th>mac</th>
					<th>protocolo</th>
					<th>fecha de registro</th>
					<th>url fabricante</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="recurso : ${recursos}">
					<td th:text="${recurso.id}">El número</td>
					<td th:text="${recurso.nombre}">nombre de recurso</td>
					<td th:text="${recurso.marca}">marca del recurso</td>
					<td th:text="${recurso.tipo}">tipo del recurso</td>
					<td th:text="${recurso.ip}">ip del recurso</td>
					<td th:text="${recurso.puerto}">puerto del recurso</td>
					<td th:text="${recurso.mac}">mac del recurso</td>
					<td th:text="${recurso.protocolo}">protocolo del recurso</td>
					<td th:text="${recurso.fechaRegistro}">fechaRegistro del recurso</td>
					<td th:text="${recurso.urlFabricante}">urlFabricante del recurso</td>
					
<!-- 					<td th:text="${recurso.estado}? 'Activo' : 'Inactivo'">Activo</td> -->
					
					<!-- 					TODO: crear servicio de cambio de estado -->
					<td>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<button class="btn btn-outline-secondary dropdown-toggle"
									type="button" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false"
									th:text="${recurso.estado}? 'Activo' : 'Inactivo'">Activo
										o inactivo</button>
									<div class="dropdown-menu">
										<a class="dropdown-item"
										th:href="@{/supervision(cambiarEstado=${recurso.id})}"
										th:name="cambiarEstado">Cambiar estado</a>
										<div role="separator" class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Editar</a>
									</div>
								</div>
							</div>
						</td>
					
					
				</tr>
			</tbody>
		</table>
	</div>


	<!-- 		TODO: Crear footer de bootstrap  -->
	<footer data-th-replace="comun/cuerpo/piedepagina.html :: piedepagina">
		<p>Proyecto de grado UPERC Est. 2021</p>
	</footer>

	<script type="text/javascript" src="../../../js/jquery.js"
		data-th-src="@{/js/jquery.js}"></script>

	<script type="text/javascript"
		src="../../../js/bootdeliver/popper.min.js"
		data-th-src="@{/js/bootdeliver/popper.min.js}"></script>

	<script type="text/javascript"
		src="../../../js/bootstrap/bootstrap.min.js"
		data-th-src="@{/js/bootstrap/bootstrap.min.js}"></script>

	<script type="text/javascript"
		data-th-replace="comun/scripts.html :: navegacion"></script>
</body>
</html>
