<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head data-th-replace="comun/metadatos.html :: metadatos">
<meta charset="UTF-8">
<title>Usuarios Estático</title>
<link rel="Stylesheet" href="../../../css/bootstrap/bootstrap.css" />
<link rel="Stylesheet" href="../../../css/login.css" />
</head>

<body data-multiple-spy="scroll" data-target="#navegacion, #opciones"
	data-offset="50">

	<nav data-th-replace="comun/cuerpo/navegacion.html :: navegacion"
		class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top"
		id="navegacion">
		<a class="navbar-brand" href="#">Uperc</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Usuarios</a></li>
				<li class="nav-item"><a class="nav-link"
					href="../tableroPrincipal.html">Tablero principal <span
						class="sr-only">(current)</span></a></li>
				<li class="nav-item"><a class="nav-link"
					href="supervision.html">Supervisión</a></li>
				<li class="nav-item"><a class="nav-link" href="reservas.html">Reservas</a></li>
				<li class="nav-item"><a class="nav-link" href="informes.html">Informes</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="configuracion.html"
					id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> Configuración </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="integracion.html">Sistemas
							externos</a> <a class="dropdown-item" href="recursos.html">Recursos</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="configuracion/roles.html">Roles</a>
						<a class="dropdown-item" href="configuracion/perfiles.html">Perfiles
							de usuario</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="configuracion/espacios.html">Espacios
							de parqueo</a>
					</div></li>
			</ul>
		</div>
	</nav>

	<!-- TODO: boton agregar usuario -->
	
	<div class="container-fluid"></div>
	<div class="row">
		<p>
		<p>
		<p>
	</div>

	<div class="container-fluid">

		<div class="table-responsive">
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-toggle="modal"
				data-target="#agregarUsuario">Agregar usuario</button>

			<table aria-describedby="tusuarios" class="table table-striped table-sm">
				<thead>
					<tr>
						<th id="thnum">#</th>
						<th id="thnom">Nombres</th>
						<th id="thapell">Apellidos</th>
						<th id="thdoc">Documento</th>
						<th id="thcorreo">Correo</th>
						<th id="thestado">Estado</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${usuarios}">
						<td th:text="${usuario.id}">1</td>
						<td th:text="${usuario.nombres}">Los nombres</td>
						<td th:text="${usuario.apellidos}">Los apellidos</td>
						<td th:text="${usuario.tipoId + ' ' + usuario.numId}">C
							00002312456540</td>
						<td th:text="${usuario.correo}">elcorreo@dominio.edu.co</td>
						<!-- 					<td th:text="${usuario.estado}? #{true} : #{false}">Activo</td> -->

<!-- 						<td th:text="${usuario.estado}? 'Activo' : 'Inactivo'">Activo</td> -->


<!-- 						pendiente terminal cambio de estado usuario -->
						<td>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<button class="btn btn-outline-secondary dropdown-toggle"
										type="button" data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false"
										th:text="${usuario.estado}? 'Activo' : 'Inactivo'">Activo
										o inactivo</button>
									<div class="dropdown-menu">
										<a class="dropdown-item"
											th:href="@{/usuarios(cambiarEstado=${usuario.id})}"
											th:name="cambiarEstado">Cambiar estado</a>
										<div role="separator" class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Editar</a>
									</div>
								</div>
							</div>
						</td>



					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<footer class="sticky-footer text-center"
		data-th-replace="comun/cuerpo/piedepagina.html :: piedepagina">
		<p>Proyecto de grado UPERC Est. 2021</p>
	</footer>



	<!-- Modal -->
	<div class="modal fade" id="agregarUsuario" tabindex="-1" role="dialog"
		aria-labelledby="etiquetaModalAgregarUsuario" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h5 class="modal-title" id="etiquetaModalAgregarUsuario">Agregar
						usuario</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-labelcrearUsuario="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">

					<form id="crearUsuario" class="form" method="POST" action=""
						data-th-object="${nuevoUsuario}">

						<h2 class="form-heading">Usuario nuevo</h2>

						<!--  Rol -->
						<div class="form-group">
							<label for="rol">Rol</label> <select class="form-control"
								th:field="*{rol.id}" data-th-errorclass="fieldError">
								<option th:each="roll : ${roles}" th:value="${roll.id}"
									th:text="${roll.nombre}"></option>
							</select>




						</div>

						<div class="form-group">
							<label for="estado">Desea activar el usuario ahora?</label> <select
								class="form-control" th:field="*{estado}"
								data-th-errorclass="fieldError">
								<!-- 								<option value="">Elija una opción</option> -->
								<option th:value="true" th:text="Si"></option>
								<option th:value="false" th:text="No"></option>
							</select>
						</div>


						<!-- 						<div class="form-group"> -->
						<!-- 							<label for="fechaReg">Fecha de registro</label> <input id="correo" -->
						<!-- 								name="fechaReg" class="form-control" type="email" -->
						<!-- 								data-th-field="*{fechaReg}" data-th-errorclass="fieldError" -->
						<!-- 								placeholder="Escriba el correo" /> -->
						<!-- 						</div> -->

						<div class="form-group">
							<label for="fechaNac">Fecha de nacimiento</label> <input
								id="fechaNac" name="fechaNac" class="form-control" type="date"
								data-th-field="*{fechaNac}" data-th-errorclass="fieldError"
								placeholder="Escriba la fecha de nacimiento" />
						</div>

						<div class="form-group">
							<label for="correo">Correo electrónico</label> <input id="correo"
								name="correo" class="form-control" type="email"
								data-th-field="*{correo}" data-th-errorclass="fieldError"
								placeholder="Escriba el correo" />
						</div>

						<div class="form-group">
							<label for="contrasena">Contraseña</label> <input id="contrasena"
								name="contrasena" class="form-control" type="password"
								data-th-field="*{contrasena}"
								placeholder="Escriba la contraseña">
						</div>


						<!--  tipoId -->
						<div class="form-group">
							<label for="tipoId">Tipo de identificación</label> <select
								class="form-control" th:field="*{tipoId}"
								data-th-errorclass="fieldError">
								<!-- 								<option value="">Elija una opción</option> -->
								<option th:value="'C'" th:text="Cedula_de_ciudadania"></option>
								<option th:value="'E'" th:text="Cedula_de_extranjeria"></option>
								<option th:value="'T'" th:text="Tarjeta_de_identidad"></option>
								<!-- 								<option th:value="'R'" th:text="Registro civil"></option> -->
								<option th:value="'P'" th:text="Pasaporte"></option>
							</select>
						</div>

						<!-- 						 numid -->
						<div class="form-group">
							<label for="numId">Número de identificación</label> <input
								id="numId" name="numId" class="form-control" type="text"
								data-th-field="*{numId}" data-th-errorclass="fieldError"
								placeholder="Escriba el número de identificación" />
						</div>

						<!-- nombres -->
						<div class="form-group">
							<label for="nombres">Nombres</label> <input id="nombres"
								name="nombres" class="form-control" type="text"
								data-th-field="*{nombres}" data-th-errorclass="fieldError"
								placeholder="Escriba el nombre completo" />
						</div>

						<!-- apellidos -->
						<div class="form-group">
							<label for="apellidos">Apellidos</label> <input id="apellidos"
								name="apellidos" class="form-control" type="text"
								data-th-field="*{apellidos}" data-th-errorclass="fieldError"
								placeholder="Escriba los apellidos" />
						</div>


					</form>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cancelar</button>
					<button type="submit" name="crearNuevoUsuario" form="crearUsuario"
						class="btn btn-primary">Guardar</button>
				</div>

			</div>
		</div>
	</div>


	<script type="text/javascript" src="../../../js/jquery.js"
		data-th-src="@{/js/jquery.js}"></script>

	<script type="text/javascript"
		src="../../../js/bootdeliver/popper.min.js"
		data-th-src="@{/js/bootdeliver/popper.min.js}"></script>

	<script type="text/javascript"
		src="../../../js/bootstrap/bootstrap.min.js"
		data-th-src="@{/js/bootstrap/bootstrap.min.js}"></script>

	<script type="text/javascript"
		data-th-replace="comun/scripts.html :: navegacion"></script>

	<script type="text/javascript">
		/*<![CDATA[*/
		$('#fechaNac').datepicker({
			dateFormat : 'dd-MM-yy'
		});
		/*]]>*/
	</script>


</body>
</html>