*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

uperc-configuracion/target/

uperc-ear/target/

uperc-ejb/target/

uperc-integracion/target/

uperc-recursos/target/

uperc-reservas/target/

uperc-usuarios/target/

uperc-web/target/
