<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="comun/metadatos.html :: metadatos">
<meta charset="UTF-8">
<title>Estático</title>
<link rel="Stylesheet" href="../../css/bootstrap.min.css" />
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light"
		th:replace="comun/cuerpo/navegacion.html :: navegacion">
		<a class="navbar-brand" href="#">Uperc</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Resumen
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Usuarios
						Link</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Recursos </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Action</a> <a
							class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div></li>
				<li class="nav-item"><a class="nav-link disabled" href="#">Configuración</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Buscar" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
			</form>
		</div>
	</nav>

	<div class="container-fluid">

		<div class="table-responsive">

			<h2>Mis datos de usuario</h2>

			<table aria-describedby="tusuarios"
				class="table table-striped table-sm">
				<thead>
					<tr>
						<th id="thnum">#</th>
						<th id="thnom">Nombres</th>
						<th id="thapell">Apellidos</th>
						<th id="thdoc">Documento</th>
						<th id="thcorreo">Correo</th>
						<th id="thestado">Estado</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${miUsuario}">
						<td th:text="${usuario.id}">1</td>
						<td th:text="${usuario.nombres}">Los nombres</td>
						<td th:text="${usuario.apellidos}">Los apellidos</td>
						<td th:text="${usuario.tipoId + ' ' + usuario.numId}">C
							00002312456540</td>
						<td th:text="${usuario.correo}">elcorreo@dominio.edu.co</td>

						<td>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<button class="btn btn-outline-secondary dropdown-toggle"
										type="button" data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false"
										th:text="${usuario.estado}? 'Activo' : 'Inactivo'">Activo
										o inactivo</button>

									<div class="dropdown-menu">

										<a class="dropdown-item"
											th:href="@{/comun/edit.html(editarUsuario=${usuario.id}, deConfiguracion=true)}"
											th:name="editarUsuario">Editar</a>
									</div>

								</div>
							</div>
						</td>

					</tr>
				</tbody>
			</table>

		</div>


		<div sec:authorize="hasAnyAuthority('Administrador')" class="table-responsive">
			<h2>Configuración</h2>

			<table aria-describedby="tconfiguraciones"
				class="table table-striped table-sm">
				<thead>
					<tr>
						<!-- 						<th id="thnum">#</th> -->
						<th id="thintentosFallidos">Intentos fallidos</th>
						<th id="thcaducidad">Caducidad de la contraseña</th>
						<th id="thfechaguardado">Modificado el</th>
						<th id="thMaxadmin">Administradores maximos</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="configuracion : ${configuraciones}">
						<!-- 						<td th:text="${configuracion.id}">1</td> -->
						<td th:text="${configuracion.intentosFallidos}">intentos
							fallidos</td>
						<td th:text="${configuracion.caducidadContrasena}">caducidad
							contra</td>
						<td th:text="${#dates.format(configuracion.fechaGuardado, 'EE dd MMM yyyy (hh:mm a)')}">fecha guar</td>

						<td>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<button class="btn btn-outline-secondary dropdown-toggle"
										type="button" data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false" th:text="${configuracion.maxAdmin}">Activo
										o inactivo</button>

									<div class="dropdown-menu">

										<a class="dropdown-item"
											th:href="@{/comun/edit.html(editarConfiguracion=${configuracion.id})}"
											th:name="editarConfiguracion">Editar</a>
									</div>

								</div>
							</div>
						</td>

					</tr>
				</tbody>
			</table>



		</div>

	</div>


	<!-- 		TODO: Crear footer de bootstrap  -->
	<footer th:replace="comun/cuerpo/piedepagina.html :: piedepagina">
		<p>Proyecto de grado UPERC Est. 2021</p>
	</footer>

	<div th:replace="comun/scripts.html :: ejecucscripts"></div>

</body>
</html>
