<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="comun/metadatos.html :: metadatos">
<meta charset="UTF-8">
<title>Usuarios Estático</title>
<link rel="Stylesheet" href="../../../css/bootstrap.css" />
<link rel="Stylesheet" href="../../../css/login.css" />
</head>

<body>

	<nav th:replace="comun/cuerpo/navegacion.html :: navegacion"
		class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top"
		id="navegacion">
		<a class="navbar-brand" href="#">Uperc</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item "><a class="nav-link" href="usuarios.html">Usuarios</a></li>
				<li class="nav-item"><a class="nav-link"
					href="../tableroPrincipal.html">Tablero principal <span
						class="sr-only">(current)</span></a></li>
				<li class="nav-item"><a class="nav-link"
					href="supervision.html">Supervisión</a></li>
				<li class="nav-item"><a class="nav-link" href="reservas.html">Reservas</a></li>
				<li class="nav-item"><a class="nav-link" href="informes.html">Informes</a></li>
				<li class="nav-item dropdown active"><a
					class="nav-link dropdown-toggle" href="configuracion.html"
					id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> Configuración </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item active" href="integracion.html">Sistemas
							externos</a> <a class="dropdown-item" href="recursos.html">Recursos</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="configuracion/roles.html">Roles</a>
						<a class="dropdown-item" href="configuracion/perfiles.html">Perfiles
							de usuario</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="configuracion/espacios.html">Espacios
							de parqueo</a>
					</div></li>
			</ul>
		</div>
	</nav>
	
	<div class="container-fluid"></div>
	<div class="row">
		<p>
		<p>
		<p>
	</div>

		<!-- Button trigger modal -->
	<!-- 				TODO: crear insercion para reservas -->
	<button sec:authorize="hasAnyAuthority('Administrador')" type="button" class="btn btn-primary" data-toggle="modal"
		data-target="#agregarSistemae">Nuevo sistema externo</button>


	<div class="table-responsive">
		<table aria-describedby="tintegracion" class="table table-striped table-sm">
			<thead>
				<tr>
					<th id="thnum">#</th>
					<th id="thnombre">Nombre</th>
					<th id="thip">ip</th>
					

				</tr>
			</thead>
			<tbody>
				<tr th:each="sistext : ${sistemasext}">
					<td th:text="${sistext.id}">El número</td>
					<td th:text="${sistext.nombre}">El nombre del sistema externo</td>
					<td th:text="${sistext.ip}">La ip</td>
					
					
					
					<!-- 					TODO: crear servicio de cambio de estado -->
					<td>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
							
								<a class="btn btn-outline-secondary"
									th:href="@{/comun/edit.html(editarSistemae=${sistext.id})}"
									th:name="editarSistemae"
								>Editar</a>
							</div>
						</div>
					</td>
					
					
				</tr>
			</tbody>
		</table>
	</div>


		<!-- Modal -->
	<div sec:authorize="hasAnyAuthority('Administrador')"
		class="modal fade" id="agregarSistemae" tabindex="-1" role="dialog"
		aria-labelledby="etiquetaModalAgregarSistemae" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h5 class="modal-title" id="etiquetaModalAgregarSistemae">Agregar
						sistema externo</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-labelcrearUsuario="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">

					<form id="crearNuevoSistemaeForm" class="form" method="POST" action=""
						th:action="@{/modulos/integracion.html}" th:object="${nuevoSistemae}">

						<h2 class="form-heading">Nuevo Sistema externo</h2>

						<input type="hidden" name="id" th:field="*{id}"
							th:errorclass="fieldError" />

						<div class="form-group">
							<label for="laip">Dirección ip</label> <input id="laip"
								name="laip" class="form-control" type="text" th:field="*{ip}"
								th:errorclass="fieldError" />
						</div>

						<div class="form-group">
							<label for="nombre">Nombre</label> <input id="nombre"
								name="nombre" class="form-control" type="text"
								th:field="*{nombre}" th:errorclass="fieldError" />
						</div>

						<div class="form-group">
							<label for="puerto">Contraseña</label> <input id="puerto"
								name="puerto" class="form-control" type="text"
								th:field="*{contrasena}" th:errorclass="fieldError" />
						</div>

					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cancelar</button>
					<button type="submit" name="crearNuevoSistemae"
						form="crearNuevoSistemaeForm" class="btn btn-primary">Guardar</button>
				</div>

			</div>
		</div>
	</div>



	<!-- 		TODO: Crear footer de bootstrap  -->
	<footer th:replace="comun/cuerpo/piedepagina.html :: piedepagina">
		<p>Proyecto de grado UPERC Est. 2021</p>
	</footer>

	<div th:replace="comun/scripts.html :: ejecucscripts"></div>	

</body>
</html>
