<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="comun/metadatos.html :: metadatos"></head>

<body>

	<nav th:replace="comun/cuerpo/navegacion.html :: navegacion"
		class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top"
		id="navegacion"></nav>


	<div class="container-fluid">
		<div class="table-responsive">

			<!-- Button trigger modal -->
			<button sec:authorize="hasAnyAuthority('Administrador')"
				type="button" class="btn btn-primary" data-toggle="modal"
				data-target="#agregarVehiculo">Registrar vehículo</button>

			<table aria-describedby="tegistros"
				class="table table-striped table-sm">
				<thead>
					<tr>
						<th id="thnum">#</th>

						<th id="thri">Marca</th>
						<th id="thusi">Color</th>

						<th id="thfe">Modelo</th>
						<th id="thre">Clase</th>
						<th id="thuse">Tipo de servicio</th>
						<th id="thfi">Placa</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="vehiculo : ${vehiculos}">

						<td th:text="${vehiculo.id}">num</td>

						<td th:text="${vehiculo.marca}">Marca</td>
						<td th:text="${vehiculo.color}">Color</td>

						<td th:text="${vehiculo.modelo}">Modelo</td>
						<td th:text="${vehiculo.clase}">Clase</td>
						<td th:text="${vehiculo.tipoServicio}">Tipo de servicio</td>


						<td sec:authorize="hasAnyAuthority('Supervisor')"
							th:text="${vehiculo.placa}">Placa</td>
							
						<td sec:authorize="hasAnyAuthority('Administrador')">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<button class="btn btn-outline-secondary dropdown-toggle"
										type="button" data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false" th:text="${vehiculo.placa}">Placa</button>

									<div class="dropdown-menu">

										<a class="dropdown-item"
											th:href="@{/comun/edit.html(editarVehiculo=${vehiculo.id})}"
											th:name="editarVehiculo">Editar</a>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<!-- Modal crear nuevo vehiculo -->
	<div sec:authorize="hasAnyAuthority('Administrador')"
		class="modal fade" id="agregarVehiculo" tabindex="-1" role="dialog"
		aria-labelledby="etiquetaModalAgregarVehiculo" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h5 class="modal-title" id="etiquetaModalAgregarVehiculo">Registrar
						vehículo</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-labelcrearVehiculo="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">

					<form id="crearVehiculo" class="form" method="POST" action=""
						th:action="@{/modulos/vehiculos.html}"
						th:object="${nuevoVehiculo}">

						<h2 class="form-heading">Nuevo vehículo</h2>

						<!-- placa -->
						<div class="form-group">
							<label for="placa">Placa</label> <input id="placa" name="placa"
								class="form-control" type="text" th:field="*{placa}"
								th:errorclass="fieldError" placeholder="Escriba la placa" />
						</div>

						<!-- Marca -->
						<div class="form-group">
							<label for="marca">Marca</label> <input id="marca" name="marca"
								list="marcaLista" class="form-control" type="text"
								th:field="*{marca}" th:errorclass="fieldError"
								placeholder="Elija una opción o escriba la marca" />

							<datalist id="marcaLista">
								<option value="BMW Motorrad">BMW Motorrad</option>
								<option value="Horex">Horex</option>
								<option value="Kreidler">Kreidler</option>
								<option value="Sachs">Sachs</option>
								<option value="Appia">Appia</option>
								<option value="Brava">Brava</option>
								<option value="Corven Motos">Corven Motos</option>
								<option value="Crawdet">Crawdet</option>
								<option value="Da Dalt">Da Dalt</option>
								<option value="Guerrero">Guerrero</option>
								<option value="Jawa">Jawa</option>
								<option value="Keller">Keller</option>
								<option value="Maverick Motorcycle">Maverick Motorcycle</option>
								<option value="Mondial">Mondial</option>
								<option value="Motomel">Motomel</option>
								<option value="Puma">Puma</option>
								<option value="Siam">Siam</option>
								<option value="Zadina">Zadina</option>
								<option value="Zanella">Zanella</option>
								<option value="Brixton">Brixton</option>
								<option value="Husaberg">Husaberg</option>
								<option value="KTM">KTM</option>
								<option value="Puch">Puch</option>
								<option value="Jamuna Group">Jamuna Group</option>
								<option value="PHP Family">PHP Family</option>
								<option value="Runner Automobiles">Runner Automobiles</option>
								<option value="Walton Motors">Walton Motors</option>
								<option value="Saroléa">Saroléa</option>
								<option value="Minsk">Minsk</option>
								<option value="Dafra">Dafra</option>
								<option value="Sundown">Sundown</option>
								<option value="Big Brute">Big Brute</option>
								<option value="Bombardier">Bombardier</option>
								<option value="Can-Am">Can-Am</option>
								<option value="Formula">Formula</option>
								<option value="Freedom">Freedom</option>
								<option value="Jialing">Jialing</option>
								<option value="Haojue">Haojue</option>
								<option value="Keeway">Keeway</option>
								<option value="Lifan">Lifan</option>
								<option value="Loncin">Loncin</option>
								<option value="Qingqi">Qingqi</option>
								<option value="Motorrad">Motorrad</option>
								<option value="Takasaki">Takasaki</option>
								<option value="United Motors">United Motors</option>
								<option value="Yincheng">Yincheng</option>
								<option value="Zongshen">Zongshen</option>
								<option value="CFmoto">CFmoto</option>
								<option value="Serpento">Serpento</option>
								<option value="Auteco">Auteco</option>
								<option value="AKT">AKT</option>
								<option value="Daelim">Daelim</option>
								<option value="Hyosung">Hyosung</option>
								<option value="TOMOS">TOMOS</option>
								<option value="AJR">AJR</option>
								<option value="Alpha">Alpha</option>
								<option value="Anvian">Anvian</option>
								<option value="ArianeTech">ArianeTech</option>
								<option value="Avello">Avello</option>
								<option value="Beta Trueba">Beta Trueba</option>
								<option value="Bultaco">Bultaco</option>
								<option value="Cofersa">Cofersa</option>
								<option value="Cremsa">Cremsa</option>
								<option value="Derbi">Derbi</option>
								<option value="Ducson">Ducson</option>
								<option value="Elig">Elig</option>
								<option value="Gas Gas">Gas Gas</option>
								<option value="Inmotec">Inmotec</option>
								<option value="JJ Cobas">JJ Cobas</option>
								<option value="Leonart">Leonart</option>
								<option value="Lube">Lube</option>
								<option value="Merlin">Merlin</option>
								<option value="Mini Marcelino">Mini Marcelino</option>
								<option value="Montesa">Montesa</option>
								<option value="Moto Vespa">Moto Vespa</option>
								<option value="Motobic">Motobic</option>
								<option value="MH Motorcycles">MH Motorcycles</option>
								<option value="Mototrans">Mototrans</option>
								<option value="MYMSA">MYMSA</option>
								<option value="OSSA">OSSA</option>
								<option value="Patria">Patria</option>
								<option value="Rieju">Rieju</option>
								<option value="RMH">RMH</option>
								<option value="ROA">ROA</option>
								<option value="Rovena">Rovena</option>
								<option value="Sanglas">Sanglas</option>
								<option value="Setter">Setter</option>
								<option value="Soriano">Soriano</option>
								<option value="Torrot">Torrot</option>
								<option value="Villalbí">Villalbí</option>
								<option value="Villof">Villof</option>
								<option value="American Eagle Motorcycles">American
									Eagle Motorcycles</option>
								<option value="Boss Hoss">Boss Hoss</option>
								<option value="Buell">Buell</option>
								<option value="Harley Davidson">Harley Davidson</option>
								<option value="Indian">Indian</option>
								<option value="Rokon">Rokon</option>
								<option value="UM-Motorcycles (United Motors)">UM-Motorcycles
									(United Motors)</option>
								<option value="Victory">Victory</option>
								<option value="Chopper">Chopper</option>
								<option value="Cleveland Cyclewerk">Cleveland Cyclewerk</option>
								<option value="Orcal">Orcal</option>
								<option value="Peugeot">Peugeot</option>
								<option value="Scorpa">Scorpa</option>
								<option value="Voxan">Voxan</option>
								<option value="Sherco">Sherco</option>
								<option value="CCM">CCM</option>
								<option value="Douglas">Douglas</option>
								<option value="Norton ">Norton</option>
								<option value="Rickman">Rickman</option>
								<option value="Royal Enfield">Royal Enfield</option>
								<option value="Rudge-Whitworth">Rudge-Whitworth</option>
								<option value="Triumph">Triumph</option>
								<option value="Hero">Hero</option>
								<option value="Bajaj">Bajaj</option>
								<option value="TVS">TVS</option>
								<option value="Aprilia">Aprilia</option>
								<option value="Aermacchi">Aermacchi</option>
								<option value="Benelli">Benelli</option>
								<option value="Beta">Beta</option>
								<option value="Bimota">Bimota</option>
								<option value="Cagiva">Cagiva</option>
								<option value="Ducati">Ducati</option>
								<option value="Garelli">Garelli</option>
								<option value="Gilera">Gilera</option>
								<option value="Italjet">Italjet</option>
								<option value="Lambretta">Lambretta</option>
								<option value="Laverda">Laverda</option>
								<option value="Malaguti">Malaguti</option>
								<option value="Marabese">Marabese</option>
								<option value="Millepercento">Millepercento</option>
								<option value="Mondial Moto">Mondial Moto</option>
								<option value="Moto Guzzi">Moto Guzzi</option>
								<option value="Moto Morini">Moto Morini</option>
								<option value="MV Agusta">MV Agusta</option>
								<option value="Parilla">Parilla</option>
								<option value="Piaggio">Piaggio</option>
								<option value="Terra Modena">Terra Modena</option>
								<option value="TM Racing">TM Racing</option>
								<option value="Vertemati">Vertemati</option>
								<option value="Vyrus">Vyrus</option>
								<option value="WRM Motorcycles">WRM Motorcycles</option>
								<option value="Fuji Heavy Industries">Fuji Heavy
									Industries</option>
								<option value="Honda">Honda</option>
								<option value="Kawasaki">Kawasaki</option>
								<option value="Suzuki">Suzuki</option>
								<option value="Yamaha">Yamaha</option>
								<option value="Modenas">Modenas</option>
								<option value="Carabela">Carabela</option>
								<option value="Dínamo">Dínamo</option>
								<option value="Islo">Islo</option>
								<option value="Italika">Italika</option>
								<option value="Kurazai">Kurazai</option>
								<option value="Motor´s Heaven">Motor´s Heaven</option>
								<option value="Zanetti">Zanetti</option>
								<option value="Veloci Motors">Veloci Motors</option>
								<option value="MB motos">MB motos</option>
								<option value="BDS">BDS</option>
								<option value="Motos Izuka">Motos Izuka</option>
								<option value="Vento">Vento</option>
								<option value="Ronco Motors">Ronco Motors</option>
								<option value="Artsun">Artsun</option>
								<option value="Ssenda Motos">Ssenda Motos</option>
								<option value="Nexus Motos">Nexus Motos</option>
								<option value="Solaris Honda">Solaris Honda</option>
								<option value="Rwanda Motorcycle Company">Rwanda
									Motorcycle Company</option>
								<option value="IMZ-Ural">IMZ-Ural</option>
								<option value="IZH">IZH</option>
								<option value="Karpaty">Karpaty</option>
								<option value="Kovrov">Kovrov</option>
								<option value="ZiD">ZiD</option>
								<option value="Восхо́д(voskhod)">Восхо́д(voskhod)</option>
								<option value="Husqvarna">Husqvarna</option>
								<option value="Monark">Monark</option>
								<option value="Kymco">Kymco</option>
								<option value="Sym">Sym</option>
								<option value="TGB">TGB</option>
								<option value="Dnipro">Dnipro</option>
								<option value="Empire Keeway">Empire Keeway</option>
								<option value="Bera Motorcycles">Bera Motorcycles</option>
								<option value="MD-Haojin">MD-Haojin</option>
								<option value="Skygo">Skygo</option>
								<option value="Leopard">Leopard</option>
								<option value="Kenton">Kenton</option>
								<option value="Star">Star</option>
								<option value="Taiga">Taiga</option>
								<option value="Yamazuky">Yamazuky</option>
								<option value="Radam">Radam</option>
								<option value="Abarth">Abarth</option>
								<option value="Alfa Romeo">Alfa Romeo</option>
								<option value="Aston Martin">Aston Martin</option>
								<option value="Audi">Audi</option>
								<option value="Bentley">Bentley</option>
								<option value="BMW">BMW</option>
								<option value="Cadillac">Cadillac</option>
								<option value="Caterham">Caterham</option>
								<option value="Chevrolet">Chevrolet</option>
								<option value="Citroen">Citroen</option>
								<option value="Dacia">Dacia</option>
								<option value="Ferrari">Ferrari</option>
								<option value="Fiat">Fiat</option>
								<option value="Ford">Ford</option>
								<option value="Honda">Honda</option>
								<option value="Infiniti">Infiniti</option>
								<option value="Isuzu">Isuzu</option>
								<option value="Iveco">Iveco</option>
								<option value="Jaguar">Jaguar</option>
								<option value="Jeep">Jeep</option>
								<option value="Kia">Kia</option>
								<option value="KTM">KTM</option>
								<option value="Lada">Lada</option>
								<option value="Lamborghini">Lamborghini</option>
								<option value="Lancia">Lancia</option>
								<option value="Land Rover">Land Rover</option>
								<option value="Lexus">Lexus</option>
								<option value="Lotus">Lotus</option>
								<option value="Maserati">Maserati</option>
								<option value="Mazda">Mazda</option>
								<option value="Mercedes-Benz">Mercedes-Benz</option>
								<option value="Mini">Mini</option>
								<option value="Mitsubishi">Mitsubishi</option>
								<option value="Morgan">Morgan</option>
								<option value="Nissan">Nissan</option>
								<option value="Opel">Opel</option>
								<option value="Peugeot">Peugeot</option>
								<option value="Piaggio">Piaggio</option>
								<option value="Porsche">Porsche</option>
								<option value="Renault">Renault</option>
								<option value="Rolls-Royce">Rolls-Royce</option>
								<option value="Seat">Seat</option>
								<option value="Skoda">Skoda</option>
								<option value="Smart">Smart</option>
								<option value="SsangYong">SsangYong</option>
								<option value="Subaru">Subaru</option>
								<option value="Suzuki">Suzuki</option>
								<option value="Tata">Tata</option>
								<option value="Tesla">Tesla</option>
								<option value="Toyota">Toyota</option>
								<option value="Volkswagen">Volkswagen</option>
								<option value="Volvo">Volvo</option>
							</datalist>

						</div>

						<!-- Color -->
						<div class="form-group">
							<label for="color">Color</label> <input id="color" name="color"
								class="form-control" type="text" th:field="*{color}"
								th:errorclass="fieldError" placeholder="Escriba la color" />
						</div>

						<!-- Modelo -->
						<div class="form-group">
							<label for="modelo">Modelo (año)</label> <input id="modelo"
								name="modelo" class="form-control" type="text"
								th:field="*{modelo}" th:errorclass="fieldError"
								placeholder="Escriba la modelo" />
						</div>

						<!-- Clase -->
						<div class="form-group">
							<label for="clase">Clase</label> <select class="form-control"
								th:field="*{clase}" th:errorclass="fieldError" required>
								<option value="">Elija una opción</option>
								<option th:value="Automovil" th:text="Automovil"></option>
								<option th:value="Motocicleta" th:text="Motocicleta"></option>
								<option th:value="Autobus" th:text="Autobus"></option>
								<option th:value="Furgon" th:text="Furgon"></option>
							</select>
						</div>

						<!-- Tipo de servicio -->
						<div class="form-group">
							<label for="tipoServicio">Tipo de servicio</label> <select
								class="form-control" th:field="*{tipoServicio}"
								th:errorclass="fieldError" required>
								<option value="">Elija una opción</option>
								<option th:value="Particular" th:text="Particular"></option>
								<option th:value="Público" th:text="Público"></option>
								<option th:value="Especial" th:text="Especial"></option>
							</select>
						</div>

					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cancelar</button>
					<button type="submit" name="crearNuevoVehiculo"
						form="crearVehiculo" class="btn btn-primary">Guardar</button>
				</div>

			</div>
		</div>
	</div>



	<footer class="sticky-footer text-center"
		th:replace="comun/cuerpo/piedepagina.html :: piedepagina">
		<p>Proyecto de grado UPERC Est. 2021</p>
	</footer>

	<div th:replace="comun/scripts.html :: ejecucscripts"></div>

</body>
</html>
