<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="comun/metadatos.html :: metadatos">
<meta charset="UTF-8">
<title>Estático</title>
<link rel="Stylesheet" href="../../css/bootstrap/bootstrap.css" />
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light"
		data-th-replace="comun/cuerpo/navegacion.html :: navegacion">
		<a class="navbar-brand" href="#">Uperc</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Resumen
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Usuarios
						Link</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Recursos </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Action</a> <a
							class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div></li>
				<li class="nav-item"><a class="nav-link disabled" href="#">Configuración</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Buscar" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
			</form>
		</div>
	</nav>


	<div class="container-fluid"></div>
	<div class="row">
		<p>
		<p>
		<p>
	</div>
	
	<div class="table-responsive">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Ubicación</th>
					<!-- 					<th>Estado</th> -->
				</tr>
			</thead>
			<tbody>
				<tr th:each="espacio : ${espacios}">
					<td th:text="${espacio.id}">El número</td>
					<td th:text="${espacio.nombre}">Nombre del espacio</td>
					<td th:text="${espacio.ubicacion?.getNombre}?: 'Sede chía'">Sede
						Chía</td>

					<!-- 					<td th:text="${espacio.ocupado}? 'Activo' : 'Inactivo'">Activo</td> -->



					<!-- 					TODO: crear servicio de cambio de estado -->
					<td>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<a class="btn btn-outline-secondary"
									th:href="@{/supervision(cambiarEstado=${espacio.id})}"
									th:name="cambiarEstado">Editar</a>
							</div>
						</div>
					</td>

				</tr>
			</tbody>
		</table>
	</div>

	<!-- 	TODO: agregar lista o bton para activar o desactivar espacio de parqueo -->

	<!-- 		TODO: Crear footer de bootstrap  -->
	<footer data-th-replace="comun/cuerpo/piedepagina.html :: piedepagina">
		<p>Proyecto de grado UPERC Est. 2021</p>
	</footer>

	<script type="text/javascript" src="../../../js/jquery.js"
		data-th-src="@{/js/jquery.js}"></script>

	<script type="text/javascript"
		src="../../../js/bootdeliver/popper.min.js"
		data-th-src="@{/js/bootdeliver/popper.min.js}"></script>

	<script type="text/javascript"
		src="../../../js/bootstrap/bootstrap.min.js"
		data-th-src="@{/js/bootstrap/bootstrap.min.js}"></script>

	<script type="text/javascript"
		data-th-replace="comun/scripts.html :: navegacion"></script>
</body>
</html>
