<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="comun/metadatos.html :: metadatos">

<meta charset="UTF-8">
<title>Página de error</title>
<link rel="Stylesheet" href="../../css/bootstrap/bootstrap.css" />
<link rel="Stylesheet" href="../../css/login.css" />

</head>
<body
	th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
	<h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
	<p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
	<a href="login.html" th:href="@{/login}">Regresar al inicio</a>
</body>
</html>